body{
background-color: #2F4F4F;
background-size: 1113px 280px;
background-repeat: no-repeat;
background-position: top center;
background-image: url(DiZMKHgpp5U.jpg);}

h1 {color:#FFF; font-size:50px; padding:15px; font-weight: 100; text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;}

h2 {color:#FFF; font-size:30px;  position: absolute;
  right: 70px;
  top:300px; padding:15px; font-weight: 100; text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;}

h3 {color:#FFF;  position: absolute;
  left: 50px;
  top:300px; font-size:30px; padding:15px; font-weight: 100; text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  background: #A3D0C3;
}
input, button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: -45px;
  cursor: pointer;
}
button:before {
  content: "Поиск";
  font-family: FontAwesome;
  font-size: 20px;
  text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
  color: #F9F0DA;
}



.container {
  display: block;
  position: relative;
  color: #F9F0DA;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #696969;
}

.container input:checked ~ .checkmark {
  background-color: #708090;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

  /* для элемента input c type="radio" */
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
	color: #F9F0DA;
    align-items: center;
    user-select: none;
  }
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled+label::before {
    background-color: #e9ecef;
  }
  
  .box{
    width: 400px;
    margin: 10px auto;
    padding: 3px 20px;
    background-color: #A9A9A9;
}
.box .title,
.box .meaning{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box .title{
    font-size: 25px;
    font-weight: bold;
}
.box .meaning{
    font-size: 22px;
}

.box .button{
	margin:10px auto;
	text-align: center;
}

a.button25 {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #000080;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #191970;
  background: linear-gradient(#87CEFA, #4682B4 48%, #008080 52%, #483D8B);
}
a.button25:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

a.button1 {
  position: absolute;
  right: 50px;
  top:70px;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #006400;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #191970;
  background: linear-gradient(#7CFC00, #00FA9A 48%, #66CDAA 52%, #20B2AA);
}
a.button1:active {
	position: absolute;
  right: 50px;
  top:70px;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.checkboxes {
	position: absolute;
  left: 10px;
  top:400px;
  padding: 5px 10px;
  max-width: 320px;
  width: 400px;
  border: 3px solid cornflowerblue;
  border-radius: 5px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkbox-group:not(:last-of-type) {
  margin-bottom: 10px;
}

.checkbox {
  cursor: pointer;
}

.label {
color: #fff;
  cursor: pointer;
}

.checkboxes2 {
	position: absolute;
  right: 10px;
  top:400px;
  padding: 5px 10px;
  max-width: 320px;
  width: 400px;
  border: 3px solid cornflowerblue;
  border-radius: 5px;
}

.checkbox-group2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkbox-group2:not(:last-of-type) {
  margin-bottom: 10px;
}

.checkbox {
  cursor: pointer;
}

.label {
  color: #fff;
  cursor: pointer;
}