<html>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="../static/aut_style.css">
</head>
<center><h1>TNB-syte</h1></center>
<body>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <p align="center">
    <label>Ник:<br></label>

    {% if form.username.errors %}
      {{ form.username() }}
      <div>
      {% for error in form.username.errors %}
        <span>{{ error }}</span>
      {% endfor %}
      </div>
    {% else %}
      {{ form.username() }}
    {% endif %}
  </p>

  <p align="center">
    <label>Пароль:<br></label>
    {% if form.password.errors %}
      {{ form.password() }}
      <div>
      {% for error in form.password.errors %}
        <span>{{ error }}</span>
      {% endfor %}
      </div>
    {% else %}
      {{ form.password() }}
    {% endif %}
  </p>

    <a href="#" class="button2">{{ form.submit(class="button2") }}</a>
    <a href="{{ url_for('users.register') }}" class="button3">Зарегистрироваться</a>
</form>

</body>
</html>
