<html/>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="../static/make_match_style.css">
</head>
<body/>
<center/><h1>Изменение комнаты</center>
  <p align="center">
    <label>Название комнаты:<br></label>
    <input name="name" type="text" size="30" maxlength="30" value ="">
  </p>
  <p align="center">
    <label>Время и дата начала:<br></label>
    <input name="name" type="text" size="30" maxlength="30" value ="">
  </p>
  <p align="center">
    <label>Максимальное количество игроков:<br></label>
    <input name="name" type="text" size="30" maxlength="30" value ="">
  </p>
    <p align="center">
    <label>Сообщение для участников:<br></label>
   <textarea name="comment"></textarea>
  </p>
<h2>Список игроков:</h2>
<h3>Василий</h3>
<a href="#" class="button1">Удалить</a>
 <a href="#" class="button2">Сохранить</a>
 <a href="#" class="button3">Назад</a>
</body>
</html>