<html>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="static/main_style.css">
</head>
<body>
<center><h1>TNB-syte</h1></center>
<a href="#" class="button1">Моя страница</a>
<form action="" method="get">
  <input name="s" placeholder="Искать здесь..." type="search">
  <button type="submit"></button>
</form>
<label class="container">Один
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<input class="custom-radio" name="color" type="radio">
<label for="color-green">Green</label>
<h2>Жанры:</h2>
<h3>Игры:</h3>
<div class="box">
  <div class="title">
    Название турнира
  </div>
  <div class="meaning">
    По какой игре, жанры
  </div>
    <div class="button">
  	<a href="#" class="button25">Вступить</a>
	</div>
</div>
<div class="box">
  <div class="title">
    Название турнира
  </div>
  <div class="meaning">
    По какой игре, жанры
  </div>
      <div class="button">
  	<a href="#" class="button25">Вступить</a>
	</div>
</div>
</body>
</html>