<html>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="../static/main_style.css">
</head>
<body>
<center><h1>TNB-syte</h1></center>
<a href="#" class="button1">Моя страница</a>
<form action="" method="get">
  <input name="s" placeholder="Искать здесь..." type="search">
  <button type="submit"></button>
</form>
<ul class="checkboxes">
  <li class="checkbox-group"><input type="checkbox" id="checkbox-1" class="checkbox"><label for="checkbox-1" class="label">один</label></li>
  <li class="checkbox-group"><input type="checkbox" id="checkbox-2" class="checkbox"><label for="checkbox-2" class="label">два</label></li>
  <li class="checkbox-group"><input type="checkbox" id="checkbox-5" class="checkbox"><label for="checkbox-5" class="label">три</label></li>
  <li class="checkbox-group"><input type="checkbox" id="checkbox-3" class="checkbox"><label for="checkbox-3" class="label">четыре</label></li>
</ul>
<ul class="checkboxes2">
  <li class="checkbox-group2"><input type="checkbox" id="checkbox-1" class="checkbox"><label for="checkbox-1" class="label">один</label></li>
  <li class="checkbox-group2"><input type="checkbox" id="checkbox-2" class="checkbox"><label for="checkbox-2" class="label">два</label></li>
  <li class="checkbox-group2"><input type="checkbox" id="checkbox-5" class="checkbox"><label for="checkbox-5" class="label">три</label></li>
  <li class="checkbox-group2"><input type="checkbox" id="checkbox-3" class="checkbox"><label for="checkbox-3" class="label">четыре</label></li>
</ul>
<h2>Жанры:</h2>
<h3>Игры:</h3>
<div class="box">
  <div class="title">
    Название турнира
  </div>
  <div class="meaning">
    По какой игре, жанры
  </div>
    <div class="button">
  	<a href="#" class="button25">Вступить</a>
	</div>
</div>
<div class="box">
  <div class="title">
    Название турнира
  </div>
  <div class="meaning">
    По какой игре, жанры
  </div>
      <div class="button">
  	<a href="#" class="button25">Вступить</a>
	</div>
</div>
</body>
</html>