<html>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="../static/main_style.css">
</head>
<body>
<center><h1>TNB-syte</h1></center>
<div>
  <a href="{{ url_for('users.user_info') }}" class="button1">Моя страница</a>
</div>
<div>
  <a href="{{ url_for('users.user_info') }}" class="button6">Моя страница2</a>
</div>
<div>
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('users.logout') }}" class="button3">Выход</a>
  {% endif %}
</div>
<div>
  {% if current_user.is_admin %}
  <a href="/admin" class="button4">Редактор</a>
  {% endif %}
</div>
<form action="" method="get">
  <input name="s" placeholder="Поиск комнаты" type="search" value="{{ request.args.get('s', '') }}">
  <button type="submit"></button>
</form>
<ul class="checkboxes">
  {% for genre in genres %}
  <div>
    <a href="{{ url_for('main.get_rooms_by_genre', genre_id=genre.id) }}" class="button25">{{ genre.name }}</a>
  <div/>
  {% endfor %}
</ul>
<ul class="checkboxes2">
  {% for game in games %}
  <div>
    <a href="{{ url_for('main.get_rooms_by_game', game_id=game.id) }}" class="button25">{{ game.name }}</a>
  </div>
  {% endfor %}
</ul>
<h2>Игры:</h2>
<h3>Жанры:</h3>
{% for room in rooms %}
<div class="box">
  <div class="title">
    {{ room.name }}
  </div>
  <div class="meaning">
    {{ room.game.name }}
  </div>
    <div class="button">
  	<a href="{{ url_for('users.join_room', room_id=room.id) }}" class="button25">Вступить</a>
	</div>
</div>
{% endfor %}
</body>
</html>
