<html>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="../static/make_match_style.css">
</head>
<body/>
<center/><h1>Создание комнаты</h1></center>
  <p align="center">
    <label>Название комнаты:<br></label>
    <input name="name" type="text" size="30" maxlength="30" value ="">
  </p>
  <p align="center">
    <label>Время и дата начала:<br></label>
    <input name="name" type="text" size="30" maxlength="30" value ="">
  </p>
  <p align="center">
    <label>Максимальное количество игроков:<br></label>
    <input name="name" type="text" size="30" maxlength="30" value ="">
  </p>
  <p align="center">
    <label>Сообщение для участников:<br></label>
   <textarea name="comment"></textarea>
  </p>
 <a href="#" class="button2">Создать</a>
 <a href="#" class="button3">Назад</a>
</body>
</html>