<html>
<head>
<meta charset="utf-8">
<title>TNB-syte</title>
<link rel="stylesheet" type="text/css" href="../static/usr_page_style.css">
</head>
<body/>
<a href="#" class="button1">На главную</a>
<a href="#" class="button2">Создать матч</a>
<h1>Кабинет пользователя</h1>
<h2>Список матчей пользователя:</h2>
<h3>Список созданных матчей:</h3>
<div class="box1">
  <div class="title">
    Название турнира
  </div>
  <div class="meaning">
    По какой игре, жанры
  </div>
    <div class="button">
  	<a href="#" class="button25">Подробнее</a>
	<a href="#" class="button24">Удалить</a>
	<a href="#" class="button24">Изменить</a>
	</div>
</div>
<div class="box2">
  <div class="title">
    Название турнира
  </div>
  <div class="meaning">
    По какой игре, жанры
  </div>
    <div class="button">
  	<a href="#" class="button25">Подробнее</a>
	</div>
</div>
</body>
</html>